*{
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: Poppins;
}

.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 2rem;

    
}


h1{
    font-weight: 200;
    
}   

h2{
    margin-bottom: 1rem;
}

p{
    color: hsl(229, 6%, 66%);
    margin-bottom: 3rem;
    text-align: center;
}


.card-one{
    border-top: 3px solid hsl(180, 62%, 55%);
    border-radius: 0.21rem;
    -webkit-box-shadow: 0px 9px 19px -13px rgba(0,0,0,0.72);
    -moz-box-shadow: 0px 9px 19px -13px rgba(0,0,0,0.72);
    box-shadow: 0px 9px 19px -13px rgba(0,0,0,0.72);
    margin-bottom: 2rem;
}

.card-one img{
    display: block;
    margin-left: auto;
    padding: 0 2rem 1rem 0;
}

.card-one p{
    text-align: left;
    padding: 0 1rem;
}

.card-one h3{
    padding: 1rem;
}

.card-two{
    border-top: 3px solid hsl(0, 78%, 62%);
    border-radius: 0.21rem;
    -webkit-box-shadow: 0px 9px 19px -13px rgba(0,0,0,0.72);
    -moz-box-shadow: 0px 9px 19px -13px rgba(0,0,0,0.72);
    box-shadow: 0px 9px 19px -13px rgba(0,0,0,0.72);
    margin-bottom: 2rem;
}

.card-two img{
    display: block;
    margin-left: auto;
    padding: 1rem;
    padding: 0 2rem 1rem 0;
}

.card-two p{
    text-align: left;
    padding: 0 1rem;
}

.card-two h3{
    padding: 1rem;
}

.card-three{
    border-top: 3px solid hsl(34, 97%, 64%);
    border-radius: 0.21rem;
    -webkit-box-shadow: 0px 9px 19px -13px rgba(0,0,0,0.72);
    -moz-box-shadow: 0px 9px 19px -13px rgba(0,0,0,0.72);
    box-shadow: 0px 9px 19px -13px rgba(0,0,0,0.72);
    margin-bottom: 2rem;
}

.card-three img{
    display: block;
    margin-left: auto;
    padding: 0 2rem 1rem 0;
}

.card-three p{
    text-align: left;
    padding: 0 1rem;
}

.card-three h3{
    padding: 1rem;
}

.card-four{
    border-top: 3px solid hsl(212, 86%, 64%);
    border-radius: 0.21rem;
    -webkit-box-shadow: 0px 9px 19px -13px rgba(0,0,0,0.72);
    -moz-box-shadow: 0px 9px 19px -13px rgba(0,0,0,0.72);
    box-shadow: 0px 9px 19px -13px rgba(0,0,0,0.72);
    margin-bottom: 2rem;
}

.card-four img{
    display: block; 
    margin-left: auto;
    padding: 0 2rem 1rem 0;
}


.card-four p{
    text-align: left;
    padding: 0 1rem;
}       

.card-four h3{
    padding: 1rem;
}

@media (min-width: 1200px){
    .grid-card{
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }

    .card-one{
        grid-column: 1;
        grid-row: span 2;
        margin: auto;

    }

    .card-two{

    }

    .card-three{
        grid-column: 2;
        grid-row: 2;
    }

    .card-four{
        grid-column: 3;
        grid-row: span 2;
        margin: auto;
    }

    p{
        
        margin-bottom: 3rem;
        text-align: center;
    }
    

}